# ============================
# Python cache & env
# ============================
__pycache__/
*.pyc
*.py[cod]
*.pyo
*.so
*.egg-info/
.eggs/
.env
.venv
*.env
*.venv
.envrc
.ipynb_checkpoints/
.DS_Store

# ============================
# Logs & temp files
# ============================
*.log
*.out
*.err
nohup.out
*.tmp
*.swp
*.swo

# ============================
# Jupyter / VSCode
# ============================
.ipynb_checkpoints
.vscode/
.idea/

# ============================
# Data files
# ============================
/data/              # ignore only top-level data folder
*.csv
*.tsv
*.parquet
*.h5
*.pkl
*.joblib

# Allow source code under src/data/
!src/data/
!src/data/*.py

# ============================
# MLflow & artifact
# ============================
mlruns/
artifacts_tmp/
models/
model/

# ============================
# Build / dist
# ============================
dist/
build/
*.tar.gz
*.whl
